extends layout

block focus
	div.container
		h1= title
	hr
	li.video-container(data-video-container="#{_id}")
		video.video-js.vjs-default-skin.uploaded-video(controls width="1080" height="600" id="#{_id}" data-setup='{}')
			source(src="#{videoSrc}" type="video/mp4")
			source(src="#{videoSrc}" type="video/webm")
		section.video-control-center.command-center
			button.toggle-new-note.btn.btn-default(data-key="#{_id}") Add Note
			button.theater-mode.btn.btn-default Theater Mode
			a.btn.btn-default.download(href="#{videoSrc}") Download
			table.list-notes.table(data-note-container="#{_id}" id="#{videoSrc}")
				for note in notes
						tr.note-row
							td #{note.note}
								a.set-time(data-set-time="#{note.time}") #{note.displayTime}