extends layout

block content
	//- Upload template
	.modal.fade(id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-body.upload-video
					form.dropzone.dz-clickable.custom-drop(method="post", action="/newVideo", enctype="multipart/form-data" name="image")
						input(type="text" name="video-title" placeholder="Title")
						input(type="file", name="video")
						input(type="submit")

	//- Theater mode template
	.modal.fade(id="theater-mode" tabindex="-1" role="dialog" aria-labelledby="theaterMode" aria-hidden="true")
		.modal-dialog
			.modal-content
				li.video-container(data-video-container="#{_id}")
						video.video-js.vjs-default-skin.uploaded-video(controls width="1080" height="600" id="#{_id}" data-video="#{_id}" data-setup='{}')
							source(src="#{videoSrc}" type="video/mp4")
							source(src="#{videoSrc}" type="video/webm")
						section.video-control-center.command-center
							button.toggle-new-note.btn.btn-default(data-key="#{_id}") Add Note
							table.list-notes.table(data-note-container="#{_id}" id="#{videoSrc}")
								for video in videos
										tr.note-row
											td #{video.note}
												a.set-time(data-set-time="#{videos.time}") #{video.displayTime}

	script.
		var bootstrappedVideos = !{JSON.stringify(videos)};