extends layout

block navbar
	nav.navbar.navbar-inverse.main-nav
		section.container
			p= user.username
			p.pull-right.logout: a(href="/auth/logout") Logout
			button(data-toggle="modal" data-target="#uploadModal"): i.fa.fa-video-camera

block content
	//- Handlebars template
	include templates.html

	if s3
		h1 Files
		ul
			for file in s3.Contents
				li
					ul
						li: a(href='https://s3.amazonaws.com/#{bucket}/#{file.Key}') Download Video
						li 
							video.video-js.vjs-default-skin(id="#{file.Key}" width='640' height='400' controls data-setup='{}')
								source(src='https://s3.amazonaws.com/#{bucket}/#{file.Key}' type="video/mp4")
								source(src='https://s3.amazonaws.com/#{bucket}/#{file.Key}' type="video/webm")
								p.vjs-no-js To view this video please enable Javascript || consider upgrading to a web browser that supports HTML5 video
							button(onclick = "setCurTime()" type="button" class="btn btn-default") Bookmarked time
							button(class="toggle-add-note btn btn-primary" type="button" action="/addBookmark"): i.fa.fa-plus.toggle-add-note(data-key='#{file.Key}')

	//- Upload template
	.modal.fade(id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-body.upload-video
					form.dropzone.dz-clickable.custom-drop(method="post", action="/submitPublic", enctype="multipart/form-data" name="image")