extends layout

block navbar
	nav.navbar.navbar-inverse.main-nav
		section.container
			p= user.username
			p.pull-right.logout: a(href="/auth/logout") Logout
			button(data-toggle="modal" data-target="#uploadModal"): i.fa.fa-video-camera

block content

	if s3
		h1 Files
		ul
			for file in s3.Contents
				li
					ul
						li: a(href='https://s3.amazonaws.com/#{bucket}/#{file.Key}') Download Video
						li: video(id="my-video" width='320' height='240' controls): source(src='https://s3.amazonaws.com/#{bucket}/#{file.Key}')
						button(onclick = "setCurTime()" type="button" class="btn btn-default") Bookmarked time
						button(class="btn btn-primary" type="button" onclick="getCurTime()" action="/addBookmark"): i(class="fa fa-plus")

	//- Upload template
	.modal.fade(id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-body.upload-video
					button.close(type="button" data-dismiss="modal"): span &times;
					form.dropzone.dz-clickable.custom-drop(method="post", action="/submitPublic", enctype="multipart/form-data" name="image")
						